@import 'tailwindcss';

@theme {
  --color-border: oklch(0.91 0.02 249.78);
  --color-input: oklch(0.91 0.02 249.78);
  --color-ring: oklch(0.14 0.04 285.82);
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.14 0.04 285.82);
  --color-primary: oklch(0.21 0.03 264.54);
  --color-primary-foreground: oklch(0.98 0 0);
  --color-secondary: oklch(0.97 0.01 264.54);
  --color-secondary-foreground: oklch(0.21 0.03 264.54);
  --color-destructive: oklch(0.58 0.22 27.33);
  --color-destructive-foreground: oklch(0.98 0 0);
  --color-muted: oklch(0.97 0.01 264.54);
  --color-muted-foreground: oklch(0.55 0.02 264.54);
  --color-accent: oklch(0.97 0.01 264.54);
  --color-accent-foreground: oklch(0.21 0.03 264.54);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.14 0.04 285.82);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.14 0.04 285.82);
  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
